* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    background: transparent;
}

body {
    background-image: url(tajikistan-4584690_1920.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;

}

li {
    display: inline-block;
    padding: 20px;
    height: 40px;
    margin-top: 18px;
    margin-right: 10px;
}

#Home {
    background-color: lightgreen;
    color: black;
    padding: 30px;
    border: 3px solid black;
    margin-right: 20px;
    margin-left: 0px;
}

li a{ 
    background-color: grey;
    color: white;
    padding: 20px;
    border: 2px solid black;
    text-decoration: none;
    margin-top: 10px;
}

nav{
    background-color: lightgray;
    height: 100%;
    padding: 20px;
    
    
}
header {
    background-color: grey;
    border-bottom: 3px solid black;
    box-shadow: 0px 0px 10px black;


}

footer{
    border: 1px solid black;
    height: 100px;
    margin-top: 18px;
    background-color: lightgrey; 
    box-shadow: 0px 0px 10px black;

}

main {
    text-align: center;
}

#Welkom{
    /* border: 2px solid black; */
    /* width: 140px; */
    text-align: center;
    padding: 320px;
}

h1{
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    background-color: lightgreen;
    box-shadow: 0px 0px 10px black;
} 

.logo {
    position: absolute;
    right: 40;
    top: 20;
    height: 125px;
    width: 150px;
    box-shadow: 0px 0px 10px black;
    margin-left: 100px;
}

h2 {
    font-size: 20px;
    color: black;
    border: 2px solid black;
    background: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: lightslategray;

  }

label{
    color:white;
}